<% include partials/header %>
<!-- No.1: create 6 divs with class "square" and place them all in a container div so that we can make it responsive later. -->
<h1>The Great <br> <span id="colorDisplay"> RGB </span><br> color guessing Game</h1>

	<div id="stripes">
		<button id="reset">New Color</button>
		<span id="message"></span>
		<button class="mode">Easy</button>
		<button class="mode selected">Hard</button>
	</div>
	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>
<!-- No. 6: Add our js -->

<% include partials/footer %>